/*
Body
*/
body {
    background-color: white;
    background-color: #f7f7f7;
}

/*
Isotopes body
*/
#container {
    border: none;
    position: relative;
    margin: 0 auto;
    background-color: white;
}

/*
Labels: used as tags!
*/
.label {
    margin-left: 3px;
    margin-right: 3px;
    border: 0px;
    padding: 5px;

}

.label:hover {
    background-color: rgba(68, 161, 202, 0.61);
}

/**
 Main Box
*/
.mainbox {
    border: 2px solid #000000;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/*
The whole box of an article
*/
.box {
    display: block;

    line-height: 20px;
    border: 2px solid #000000;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    background-color: #ebebeb;
    width: 270px;

    margin: 5px 10px 10px 10px;

    font-family: sans-serif;

}

/*
The image-place for an article
*/
.box .box-img {
    background-color: #aaaaaa;
    border-bottom: 6px solid #aaaaaa;
    min-height: 50px;

}

/*
The  actual image of an article
*/
.box .box-img img {

    display: block;
    margin: 0 auto;

    max-width: 270px;
    max-height: 300px;

    /*vertical-align: middle;*/
    /*position: relative;*/
    /*top: 50%;*/
    /*margin-top: -20px;*/
    /*left: 50%;*/
    /*margin-left: -20px;*/

    /*margin: 0 auto;*/

}

/*
 Image on hover
*/
.box .box-img:hover {
    border-bottom: 6px solid #0088cc;
}

/*
Time of box
*/
.box .date {
    margin: 0px;
    padding: 0px;
    line-height: 10px;
    /*text-align: right;*/
    position: absolute;
    top: -1px;
    right: 0px;

    border: 2px solid #000000;
    -webkit-bottom-left-border-radius: 4px;
    -moz-bottom-left-border-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 2px;

    /*bottom:10px;*/
    font-size: 10px;
    font-weight: bold;
    /*color: #797979;*/
    color: white;
    background-color: #000000;

    text-shadow: 0px 0px 16px rgba(215, 215, 215, 1);

}

/*
 The body of the box(=box w/o the image)
*/
.box .box-body {
    padding: 0px 5px 5px 5px;
}

a.box:hover,
a.box:focus {
    border-color: #0088cc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.box > img {
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.box .caption {
    padding: 9px;
    color: #555555;
}

.badge {
    margin-left: 5px;
    margin-right: 5px;
}

/*
Box properties
*/

.box .likes {

}

.box .views {

}

/*
Title of article
*/
.box h4 {
    color: #000000;
    font-size: 17px;
    margin: 0px;
    padding: 0px;
    /*position: absolute;*/
    /*bottom: 0px;*/
    text-align: center;
    text-shadow: -1px -1px 0 #cdcdcd, 1px -1px 0 #cdcdcd, -1px 1px 0 #cdcdcd, 1px 1px 0 #cdcdcd;
}
